<h3 class="text-white font-medium mb-4">Archivos y Fotos</h3>
<div class="space-y-4">
    <div (click)="fileInput.click()" class="border-2 border-dashed border-white/30 rounded-lg p-4 text-center cursor-pointer hover:bg-white/5 transition-colors">
        <mat-icon svgIcon="feather:upload" class="h-8 w-8 text-white mx-auto mb-2" />
        <p class="text-white/70">Haga clic para subir archivos o fotos</p>
        <input
        #fileInput
        type="file"                                        
        class="hidden"
        multiple
        accept="image/*,.pdf"
      (change)="capturarFile($event)"
        />
    </div>
    <div class="grid grid-cols-2 gap-2">
        @for (item of filePreviewUrls; track $index) {
        <div class="relative group">
            @if(item.endsWith('.pdf')) {
            <div class="h-24 rounded-md overflow-hidden">
                <iframe [src]="item | imagen | safeUrl" class="w-full h-full object-cover rounded-lg" ></iframe>
            </div>
            }@else {
            <div class="h-24 rounded-md overflow-hidden">
                <img [src]="item | imagen" class="w-full h-full object-cover rounded-lg" />
            </div>
            }
            
            <div class="absolute inset-0 bg-black/50 opacity-0 group-hover:opacity-100 transition-opacity flex items-center justify-center">
            <button mat-flat-button class="bg-red-500 rounded-full text-white">
                <mat-icon svgIcon="feather:trash-2" class="h-4 w-4 text-white" />
            </button>
            </div>
            <p class="text-xs text-white/70 truncate mt-1">{{item}}</p>
        </div>
        }
    </div>
</div>

 <!-- @if(item.startWith('data:image/')) {
            <div class="h-24 rounded-md overflow-hidden">
                <img [src]="item.nombre | imagen" class="w-full h-full object-cover rounded-lg" />
            </div>
            } @else { 
            <div class="h-24 bg-gray-800/90 rounded-md flex items-center justify-center">
                <mat-icon svgIcon="feather:file" class="h-8 w-8 text-white/70" />
            </div>

            } -->