@if(selectedDate()){
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/50 p-4">
    <div class="w-full max-w-md max-h-[95vh] rounded-2xl bg-gradient-to-br from-white/20 via-white/10 to-white/5 backdrop-blur-lg shadow-xl border border-white/20 text-white overflow-hidden flex flex-col">
        <div class="p-6 border-b border-white/10">
            <div class="flex justify-between items-center">
              <h2 class="text-xl font-semibold">Programar Cita Dental</h2>
              <button (click)="cerrarFormCita()" class="text-white/70 hover:text-white transition-colors" type="button">
                <mat-icon svgIcon="feather:x" class="h-5 w-5 text-white" />
              </button>
            </div>

            <div class="flex items-center gap-2 mt-3">
              <mat-icon svgIcon="feather:calendar" class="h-5 w-5 text-white/70" />
              <span>
                @if(selectedDate()){
                  {{selectedDate().toLocaleDateString("es-ES", {  weekday: "long",
                                month: "long",
                                day: "numeric",
                                year: "numeric", })}}
                }
              </span>
            </div>

        </div>
        <div class="custom-scrollbar overflow-y-auto px-6 flex-grow">
          <form [formGroup]="formulario" id="appointmentForm" class="py-4 space-y-4">
            <div class="">
                <label class="block font-medium mb-1">
                  Paciente <span class="text-red-400">*</span>
                </label>
               <div class="relative">
                  <select formControlName="paciente"  class="w-full bg-gray-800/90  rounded-md px-3 py-2 text-white placeholder:text-white/70 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    
                     @for (time of patients; track $index) {
                        <option [value]="time.id" class="px-3 py-2 hover:bg-gray-700 cursor-pointer flex items-center gap-2">
                            <mat-icon [svgIcon]="'feather:user'" class="h-4 w-4 text-white/70" /> 
                            {{time.name}} @if(time.email) {
                            <span class="text-xs text-white/70 ml-2"> - {{time.email}}</span>} 
                        </option>
                      }
                  </select>
                </div>
                 
                    <!-- <mat-form-field class="w-full fuse-mat-dense fuse-mat-no-subscript p-0 bg-gray-800/90">
                      <input type="text"
                             class="mat-input-element bg-transparent border border-red-400"
                             matInput
                             formControlName="paciente" 
                             [matAutocomplete]="auto">
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" class="bg-gray-800/90 " [displayWith]="displayPaciente">
                        @for (option of filteredOptions | async; track option) {
                          <mat-option [value]="option" class="text-white">
                             {{option.name}}
                          </mat-option>
                        }
                      </mat-autocomplete>
                    </mat-form-field> -->
               
                        <!-- <div class="">
                          <label class="block font-medium mb-1">
                            Paciente <span class="text-red-400">*</span>
                          </label>
                          <mat-form-field class="w-full fuse-mat-dense fuse-mat-no-subscript p-0">
                            <input
                              type="text"
                              matInput
                              placeholder="Buscar paciente"
                              formControlName="paciente"
                              [matAutocomplete]="auto"
                              class="bg-gray-800/90 rounded-md px-3 py-2 text-white placeholder:text-white/70 focus:outline-none focus:ring-2 focus:ring-blue-500"
                            />
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayPaciente">
                              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                <mat-icon svgIcon="feather:user" class="h-4 w-4 text-white/70"></mat-icon>
                                {{ option.name }} <span *ngIf="option.email" class="text-xs text-white/70 ml-2"> - {{ option.email }}</span>
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div> -->

            </div>
            <div>
                <label class="block font-medium mb-1">
                  Tratamiento <span class="text-red-400">*</span>
                </label>
                <div class="relative">
                  <select formControlName="tratamiento"  class="w-full bg-gray-800/90  rounded-md px-3 py-2 text-white placeholder:text-white/70 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="">Seleccionar Tratamiento</option>
                    @for (item of tratamientos; track item.id) {
                      <option [value]="item.name" class="bg-gray-800 text-white">
                        {{item.name}}
                      </option>
                    }
                  </select>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-4">
                <div>
                  <label class="block text-md font-medium mb-1">Hora de Inicio</label>
                  <div class="relative">
                      <mat-icon svgIcon="feather:clock" class="absolute left-3 top-1/2 h-4 w-4 -translate-y-1/2 text-white/70" />
                      <select formControlName="startTime" class="w-full bg-gray-800/90 rounded-md pl-10 pr-3 py-2 text-white placeholder:text-white/70 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <option value="" class="bg-gray-800 text-white">
                          Seleccionar Hora
                        </option>
                        @for (time of timeInitSlots; track $index) {
                          <option [value]="time" class="bg-gray-800 text-white">
                              {{time}}
                          </option>
                        }
                      </select>
                  </div>
                </div>
                <div>
                  <label class="block text-md font-medium mb-1">Hora de Fin</label>
                  <div class="relative">
                      <mat-icon svgIcon="feather:clock" class="absolute left-3 top-1/2 h-4 w-4 -translate-y-1/2 text-white/70" />
                      <select formControlName="endTime" class="w-full bg-gray-800/90 rounded-md pl-10 pr-3 py-2 text-white placeholder:text-white/70 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <option value="" class="bg-gray-800 text-white">
                          Seleccionar Hora
                        </option>
                        @for (time of filteredEndSlots; track $index) {
                          <option [value]="time" class="bg-gray-800 text-white">
                              {{time}}
                          </option>
                        }
                      </select>
                  </div>
                </div>
            </div>
            <div>
                <label class="block font-medium mb-1">
                  Estado <span class="text-red-400">*</span>
                </label>
                <div class="relative">
                  <select formControlName="estado" class="w-full bg-gray-800/90  rounded-md px-3 py-2 text-white placeholder:text-white/70 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    
                    @for (item of edoCitas; track $index) {
                      <option [value]="item" class="bg-gray-800 text-white">
                        {{item}}
                      </option>
                    }
                  </select>
                </div>
            </div>
            <div>
              <label class="block text-md font-medium mb-1">Comentarios</label>
              <textarea
              
               
                rows="3"
                class="w-full bg-gray-800/90 border border-white/20 rounded-md px-3 py-2 text-white placeholder:text-white/70 focus:outline-none focus:ring-2 focus:ring-blue-500"
                placeholder="Añadir notas o instrucciones especiales..."
              ></textarea>
            </div>
          </form>
        </div>
        <div class="p-6 border-t border-white/10">
          <div class="flex gap-3">
              <button
                type="button"
                (click)="cerrarFormCita()"
                class="flex-1 py-2.5 bg-white/10 hover:bg-red-500 rounded-xl text-md transition-colors font-medium"
                
              >
                Cancelar
              </button>
              <button
                type="button"
                (click)="grabarCita()"
                class="flex-1 py-2.5 bg-blue-500 hover:bg-blue-600 rounded-xl text-md transition-colors font-medium flex items-center justify-center"
                
              >Grabar</button>
          </div>
        </div>
    </div>
  </div>
}

