:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    //@apply bg-gradient-to-br from-slate-900 via-gray-900 to-black;
   // @apply bg-gradient-to-r from-blue-950 to-slate-900;
    @apply bg-gradient-to-r from-gray-600 to-gray-600;
    //@apply bg-gradient-to-r from-gray-600 via-slate-300 to-white;
    

    //background-color: #0F172A;
   //background: url('assets/images/fondo-casa.jpg');
    //background: url('assets/images/3d-background-with-white-cubes.jpg');
    //background: url('assets/images/89787.jpg');
    //background: url('assets/images/fondo-montana.png');
    //background: url('assets/images/wp4924046-react-js-wallpapers.jpg');
    background-size: cover;

}
